In [1]:
import numpy as np

# generate sample data:height of 30 student (in inches)

In [2]:
np.random.seed()
heights=np.random.normal(loc=65,scale=3,size=30)

In [3]:
heights

array([62.46417503, 65.98197509, 63.53999814, 66.67589536, 63.54309628,
       60.81690337, 65.84318475, 65.23605852, 58.85219765, 64.49084804,
       60.37164125, 63.97309435, 61.53369393, 62.79006539, 59.39459546,
       64.50668952, 64.84025071, 64.98440276, 58.6877287 , 68.00914736,
       62.29859639, 64.25976608, 63.24351336, 60.55908498, 60.27048247,
       62.50101605, 66.63307232, 70.94971266, 71.33152841, 65.57106055])

# point estimations:calculate the sample mean

In [4]:
sample_mean=np.mean(heights)
print("Sample Mean(point Estimation):",sample_mean)

Sample Mean(point Estimation): 63.80511583078053

In [6]:
import numpy as np
import scipy.stats as stats

# generate sample data:height of student (in inches)

In [7]:
np.random.seed()
heights=np.random.normal(loc=65,scale=3,size=30)

In [8]:
sample_mean=np.mean(heights)
sample_std=np.std(heights,ddof=1)

# set desires confidence level

In [9]:
confidence_level=0.95

# calculate the margin of error

In [10]:
margin_of_error=stats.t.ppf((1+confidence_level)/2,len(heights)-1)*(sample_std/np.sqrt(len(heights)))

# calculate the confidence interval

In [21]:
lower_bound=sample_mean-margin_of_error
upper_bound=sample_mean-margin_of_error

# print the coinfidence interval

In [22]:
print(f"Confidence Interval({confidence_level*100}%):[{lower_bound},{upper_bound}]")

Confidence Interval(95.0%):[63.450309339790294,63.450309339790294]

# generate sample data for two groups

In [23]:
np.random.seed(42)
group1_scores=np.random.normal(loc=70,scale=5,size=30)
group2_scores=np.random.normal(loc=70,scale=5,size=30)

# performances independent t-test

In [24]:
t_statistic,p_value=stats.ttest_ind(group1_scores,group2_scores)

In [25]:
alpha=0.05

In [26]:
print("T-test Results:")
print("T-statistic:",t_statistic)
print("p-value:",p_value)

T-test Results:
T-statistic: -0.28331706947295365
p-value: 0.7779426085718899

# cheack if the p_values is less than alpha determine significance

In [31]:
if p_value<alpha:
    print("Reject the null hypothesis.there is a significant difference between the mean of the 2 groups")
else:
        print("fail to reject the null hypothesis .there is no significance difference between the means of the two groups")

fail to reject the null hypothesis .there is no significance difference between the means of the two groups

# perform two-tailed t-test

In [65]:
t_statistic_2tail,p_value_2tail=stats.ttest_ind(group1_scores, group2_scores)

# perform one-tailed t-test(right to left)

In [66]:
t_statistic_1tail_right,p_value_2tail_right = stats.ttest_ind(group1_scores, group2_scores,alternative='greater')

# perform one-tailed t-test (left -right)

In [67]:
t_statistic_1tail_left,p_value_1tail_left = stats.ttest_ind(group1_scores, group2_scores,alternative='greater')

# print onetailed (left-tailed)test result

In [68]:
print("two-tailed Test")
print("T-statistic:",t_statistic_2tail)
print("p-value:",p_value_2tail)

two-tailed Test
T-statistic: -0.28331706947295365
p-value: 0.7779426085718899

In [69]:
print("\none-tailed Test(left-tailed):")
print("T-statistic:",t_statistic_1tail_left)
print("p-value:",p_value_1tail_left)

one-tailed Test(left-tailed):
T-statistic: -0.28331706947295365
p-value: 0.611028695714055